[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=openKittyHere;
TryExec=kitty

[Desktop Action openKittyHere]
TryExec=kitty
Icon=utilities-terminal
Exec=kitty --directory "%u"
Name=Open Kitty Here
Name[nl]=Kitty hier openen
